.user-data-input {
    margin: 3vw auto;
    max-width: 100vw;
}

.form {
    margin: 0 auto;
    padding: 1vw;
    width: 60%;
}

.form-control {
    margin: 0.6vw auto;
    border: 1px solid gray;
    width: 40%;
    padding: 0.3vw;
    display: block;
}